{% extends "base.html" %}

{% block content %}
<div class="container-lg mt-3">
    <h1>Сайт: {{ url[1] }}</h1>

    <div class="table-responsive">
        <table class="table table-bordered" data-test="url">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ url[0] }}</td>
                </tr>
                <tr>
                    <th>Имя</th>
                    <td>{{ url[1] }}</td>
                </tr>
                <tr>
                    <th>Дата создания</th>
                    <td>{{ url[2] }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Заголовок и кнопка в одной строке -->
    <div class="d-flex justify-content-between align-items-center mt-5">
        <h2 class="mb-0">Проверки</h2>
        <form action="{{ url_for('run_check', id=url[0]) }}" method="post">
            <button type="submit" class="btn btn-primary">Запустить проверку</button>
        </form>
    </div>

    <div class="table-responsive mt-3">
        <table class="table table-bordered" data-test="checks">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% if checks %}
                    {% for check in checks %}
                    <tr>
                        <td>{{ check[0] }}</td>
                        <td>{{ check[1] if check[1] else '' }}</td>
                        <td>{{ check[2] if check[2] else '' }}</td>
                        <td>{{ check[3] if check[3] else '' }}</td>
                        <td>{{ check[4] if check[4] else '' }}</td>
                        <td>{{ check[5] }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">Нет проверок</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}