{% extends "base.html" %}

{% block content %}
<div class="container-lg mt-3">
    <h1>Сайт: {{ url[1] }}</h1>

    <div class="table-responsive">
        <table class="table table-bordered" data-test="url">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ url[0] }}</td>
                </tr>
                <tr>
                    <th>Имя</th>
                    <td>{{ url[1] }}</td>
                </tr>
                <tr>
                    <th>Дата создания</th>
                    <td>{{ url[2] }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2 class="mt-5">Проверки</h2>

    <form action="#" method="post" class="mb-3">
        <button type="submit" class="btn btn-primary">Запустить проверку</button>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% if checks %}
                    {% for check in checks %}
                    <tr>
                        <td>{{ check[0] }}</td>
                        <td>{{ check[1] }}</td>
                        <td>{{ check[2] }}</td>
                        <td>{{ check[3] }}</td>
                        <td>{{ check[4] }}</td>
                        <td>{{ check[5] }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">Нет проверок</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}